<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Name</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../2024/#speakers">{% t navbar.speakers %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../2024/agenda">Agenda</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../2024/#about">{% t navbar.about %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../2024/#contact">{% t navbar.contact %}</a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                <i class="flag-united-kingdom flag m-0"></i>
                            </a>
                        
                            <ul class="dropdown-menu" aria-labelledby="Dropdown">
                                {% for lang in site.languages %}
                                    {% if lang == site.default_lang %}
                                    <li>
                                        <a class="dropdown-item" href=" {{ page.url }}">English</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a class="dropdown-item" href="/{{ lang }}{{ page.url }}">Español</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

