<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% t homebody.welcome %}</h2>
                </div>
            </div>
            <div class="row container">
                {% tf home/intro.md %}
                

                
                <!-- <center><a href="#" class="page-scroll btn btn-xl">Registration Pending</a></center> -->
            </div>
        </div>
    </section>