<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome to the TEI 2024!</h2>
                </div>
            </div>
            <div class="row container">
                <p>Texts, Languages, and Communities - TEI 2024 is the twenty-fourth conference of the Text Encoding Initiative, and the first to take place in a Spanish-speaking country. The TEI is one of the  initiatives that has managed to endure over time and build an active community of users and practitioners inside and outside the Digital Humanities field. While for many years it gathered a predominantly English-speaking community,  numerous projects—especially those related to digital editing— emerged during the very early days of the TEI in Spanish-speaking countries, bringing together scholars from Spain and Latin America.</p>

                <p>This conference aims at highlighting the global outreach of the TEI together with its local adaptations. It hopes to bring us together as a diverse and multilingual community, where the exchange of experiences and shared learning help us to reflect on the texts we investigate, the languages we use, and the communities we create.</p>
                  
                <p>The conference will be held in-person at Universidad del Salvador, 7-11 October 2024. Pre-conference workshops will run on the 7-8 October, with the conference opening and running for the 9-11 October.
                </p>

                
                <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>
            </div>
        </div>
    </section>