<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcome to the TEI 2024!</h2>
                </div>
            </div>
            <div class="row container">
                <p>Intro goes here
                </p>

                
                <center><a href="#" class="page-scroll btn btn-xl">Registration Closed</a></center>
            </div>
        </div>
    </section>