<li>
    {% for lang in site.languages %}
        {% if lang != site.lang %}
            {% if lang == site.default_lang %}
            <a class="navbar-buttton" href="{{ site.baseurl_root }}{{ page.url }}"><i class="fa fa-language" style="color: white;"></i>    {{site.languageNames[lang]}}</a>
            {% else %}
            <a class="navbar-buttton" href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}"><i class="fa fa-language" style="color: white;"></i> {{site.languageNames[lang]}}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    
</li>