<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
      <li class="hidden">
          <a href="/"></a>
      </li>
      <!-- <li>
          <a class="page-scroll" href="{% tl agenda %}">Agenda</a>
      </li> -->
      <li>
        <a class="page-scroll" href="{% tl cfp %}">{% t navbar.cfp %}</a>
      </li>
      <li>
          <a class="page-scroll" href="{% tl team %}">{% t navbar.team %}</a>
      </li>
      <li>
        <a class="dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" >
          {% t navbar.place %}
      </a>
      <ul class="dropdown-menu" aria-labelledby="languageDropdown" >
        
        <li>
          <a class="dropdown-item" href="{% tl city %}">{% t navbar.city %}</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% tl venue %}">{% t navbar.venue %} (USAL)</a>
        </li>  
        <li>
          <a class="dropdown-item" href="{% tl hotels %}">{% t navbar.hotels %}</a>
        </li>  
      </ul>
      </li>
      <li>
          <a class="page-scroll" href="{% tl coc %}">{% t navbar.coc %}</a>
      </li>
      <li>
          <a class="page-scroll" href="{% tl contact %}">{% t navbar.contact %}</a>
      </li>
      {% include 2024_data/languageswitch.html %}
          
  </ul>
</div>