<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
      <li class="hidden">
          <a href="/"></a>
      </li>
      <!-- <li>
          <a class="page-scroll" href="{% tl agenda %}">Agenda</a>
      </li> -->
      <!-- <li>
        <a class="page-scroll" href="{% tl registration %}">{% t navbar.registration %}</a>
    </li> -->
      <li>
        <a class="dropdown-toggle navbar-button" id="ciDropdown" role="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" >
          {% t navbar.info %}
        </a>
        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="ciDropdown" >
          <li>
            <a href="{% tl cfp %}" class="dropdown-item">{% t navbar.cfp %}</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% tl dates %}">{% t navbar.dates %}</a>
          </li>
          <li>
            <a class="dropdown-item dropdown-toggle" id="placeDropdown" role="button" aria-expanded="false" aria-haspopup="true" onclick="">
              {% t navbar.place %}
            </a>
            <ul class="dropdown-menu dropdown-submenu" aria-labelledby="placeDropdown" >
              <li>
                <a class="dropdown-item" href="{% tl city %}">{% t navbar.city %}</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% tl venue %}">{% t navbar.venue %}</a>
              </li>  
              <li>
                <a class="dropdown-item" href="{% tl hotels %}">{% t navbar.hotels %}</a>
              </li>  
            </ul>
          </li>
          <!-- <li>
            <a class="dropdown-item" href="{% tl cfp %}">{% t navbar.cfp %}</a>
          </li>   -->
          <li>
            <a class="dropdown-item" href="{% tl fees %}">{% t navbar.fees %}</a>
          </li>  
          <li>
            <a class="dropdown-item" href="{% tl bursaries %}">{% t navbar.bursaries %}</a>
          </li>  
          <li>
            <a class="dropdown-item" href="{% tl coc %}">{% t navbar.coc %}</a>
          </li>  
        </ul>
      </li>
      <li>
        <a href="{% tl registration %}" class="navbar-button">{% t navbar.registration %}</a>
      </li>
      <li>
          <a href="{% tl team %}" class="navbar-button">{% t navbar.team %}</a>
      </li>
      <li>
          <a href="{% tl contact %}" class="navbar-button">{% t navbar.contact %}</a>
      </li>
      {% include 2024_data/languageswitch.html %}
          
  </ul>
</div>