<!-- Clients Aside -->
    <aside class="clients" class="bg-light-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-md-1"></div>
                <div class="col-md-3 col-sm-4 vcenter" >
                    <a href="https://tei-c.org/" class="portfolio-link" data-toggle="modal">
                        <img src="/css/2024_style/img/logos/tei_logo1.png" class="img-responsive img-centered" alt="Text Encoding Initiative" height="200">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 vcenter">
                    <a href="https://hdlab.space/" class="portfolio-link" data-toggle="modal">
                        <img src="/css/2024_style/img/logos/dh_lab_iibicrit_logo.png" class="img-responsive img-centered" alt="HD Lab IIBICRIT">
                    </a>
                </div>
                <div class="col-md-3 col-sm-4 vcenter">
                    <a href="https://www.usal.edu.ar/" class="portfolio-link" data-toggle="modal">
                        <img src="/css/2024_style/img/logos/LogoUSAL2022.png" class="img-responsive img-centered" alt="Universidad del Salvador" height="100px">
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </aside>