<!-- Clients Aside -->
    <aside class="clients" class="bg-light-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sponsors</h2>
                </div>
            </div>
            <div class="row">             
               <!-- <div class="col-md-2" ></div> -->
              <div class="col-md-3 col-sm-5 vcenter sponsor-col" >
                  <a href="https://tei-c.org/" class="portfolio-link" data-toggle="modal" title="Text Encoding Initiative">
                      <img src="/css/2024_style/img/logos/tei_logo1.png" class="img-responsive img-centered logo-sponsors" alt="Text Encoding Initiative">
                  </a>
              </div>
              <div class="col-md-3 col-sm-5 vcenter sponsor-col">
                  <a href="https://www.usal.edu.ar/" class="portfolio-link" data-toggle="modal" title="Universidad del Salvador">
                      <img src="/css/2024_style/img/logos/logoUSAL_cropped.png" class="img-responsive img-centered logo-sponsors" alt="Universidad del Salvador">
                  </a>
              </div>
              <div class="col-md-3 col-sm-5 vcenter sponsor-col">
                <a href="https://music-encoding.org/" class="portfolio-link" data-toggle="modal" title="Music Encoding Initiative">
                  <img src="/css/2024_style/img/logos/mei.png" class="img-responsive img-centered logo-sponsors" alt="Music Encoding Initiative">
                </a>
              </div>
              <div class="col-md-2 col-sm-5 vcenter sponsor-col" >
                <a href="https://ortegaygasset.com.ar/" class="portfolio-link" data-toggle="modal" title="Fundación Ortega y Gasset">
                    <img src="/css/2024_style/img/logos/FOGA-logo-01.png" class="img-responsive img-centered logo-sponsors" alt="Fundación Ortega y Gasset Argentina">
                </a>
              </div>
              <div class="col-md-4 col-sm-5 vcenter sponsor-col" >
                <a href="https://www.oxygenxml.com/" class="portfolio-link" data-toggle="modal" title="Oxygen XML Editor">
                  <img src="/css/2024_style/img/logos/OxygenXMLEditorLogo.svg" class="img-responsive img-centered logo-sponsors" alt="Oxygen XML Editor">
                </a>
              </div>
              <div class="col-md-4 col-sm-5 vcenter sponsor-col" >
                <a href="https://www.crossref.org/" class="portfolio-link" data-toggle="modal" title="CrossRef">
                  <img src="/css/2024_style/img/logos/Crossref_Logo.png" class="img-responsive img-centered logo-sponsors" alt="CrossRef">
                </a>
              </div>
              <div class="col-md-3 col-sm-5 vcenter sponsor-col" >
                <a href="https://fromthepage.com/landing" class="portfolio-link" data-toggle="modal" title="From the Page">
                  <img src="/css/2024_style/img/logos/fromthepage_logo.png" class="img-responsive img-centered logo-sponsors" alt="From the Page">
                </a>
              </div>
              <div class="row">
                <div class="col-md-5 col-sm-5 vcenter sponsor-col">
                  <a href="https://hdlab.space/" class="portfolio-link" data-toggle="modal" tabindex="Laboratorio de Humanidades Digitales – IIBICRIT/CONICET">
                      <img src="/css/2024_style/img/logos/dh_lab_iibicrit_logo.png" class="img-responsive img-centered logo-sponsors" alt="HD Lab IIBICRIT">
                  </a>
                </div>
                <div class="col-md-3 col-sm-5 vcenter sponsor-col" >
                  <a href="https://aahd.net.ar/" class="portfolio-link" data-toggle="modal" title="Asociación Argentina de Humanidades Digitales">
                      <img src="/css/2024_style/img/logos/Logo_AAHD.png" class="img-responsive img-centered logo-sponsors" alt="Asociación Argentina de Humanidades Digitales">
                  </a>
                </div>
                <div class="col-md-2 col-sm-5 vcenter sponsor-col" >
                  <a href="https://paideiastudio.net/" class="portfolio-link" data-toggle="modal" title="Paideia Studio">
                      <img src="/css/2024_style/img/logos/Paideia_logo.jpeg" class="img-responsive img-centered logo-sponsors" alt="Paideia Studio">
                  </a>
                </div>
              </div>
            </div>
        </div>
    </aside>