<!DOCTYPE html>
<html>
  {% include 2024_data/head.html %}

  <body id="page-top" class="index">
    {% include 2024_data/header-home.html %}

    <!-- Header -->
    <header>

      <div class="container">
        <div
        class="getty embed image"
        style="
          background-color: #fff;
          display: inline-block;
          font-family: Roboto, sans-serif;
          color: #a7a7a7;
          font-size: 11px;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        "
      >
        <div style="padding: 0; margin: 0; text-align: left">
          <a
            href="http://www.gettyimages.com/detail/559320699"
            target="_blank"
            style="
              color: #a7a7a7;
              text-decoration: none;
              font-weight: normal !important;
              border: none;
              display: inline-block;
            "
            >Embed from Getty Images</a
          >
        </div>
        <div
          style="
            overflow: hidden;
            position: relative;
            height: 0;
            padding: 66.60118% 0 0 0;
            width: 100%;
          "
        >
          <iframe
            src="//embed.gettyimages.com/embed/559320699?et=0jeENKGDSe5Oc7tRkG6D6w&tld=com&sig=gabOrcnDM9W0raKB6qLjvx2VYvDD2p6KWF_pBZkDOY8=&caption=true&ver=1"
            scrolling="no"
            frameborder="0"
            width="509"
            height="339"
            style="
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              margin: 0;
            "
          ></iframe>
        </div>
      </div>
        <div class="intro-text">
          <div class="intro-heading">TEI 2024<br /></div>
          <div class="intro-lead-in">7-11 Oct.</div>
          <div class="intro-lead-in">Buenos Aires, Argentina</div>
          <a href="#intro" class="page-scroll btn btn-xl">Learn More</a>
        </div>
      </div>
    </header>

    {% include 2024_data/intro.html %} {% include 2024_data/speakers.html %} {%
    include 2024_data/about.html %} {% include 2024_data/sponsors.html %} {%
    include 2024_data/contact.html %} {% include 2024_data/footer.html %} {%
    include 2024_data/speakers_info.html %} {% include 2024_data/js.html %}
  </body>
</html>
