---
layout: 2024_default
permalink: /team
title: Team 
namespace: team
---
  <!--background color-->
  <script type="text/javascript">
      document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
  </script>

  <!-- this section wraps the team members as a container-->
  <section class="cf team-container team-container-top black-frame">
    <h1 class="team-h1">{% t team.local %}</h1>
  
    {% for team in site.data.twenty_24.teams-local %}
    <div class="team-member">
      <!-- <img class="team-photo" src="/css/2024_style/img/team/{{ team.img }}"> -->
      <h3>{{ team.name }}</h3>
      <span>{{ team.institution }}</span>
       <!-- <a class="email" href="mailto:{{ team.email }}"><span >E-Mail</span></a> -->
    </div> 
    {% endfor %}
  </section>

  <section class="cf team-container team-container-top black-frame">
    <h1 class="team-h1">{% t team.pc %}</h1>
  
    {% for team in site.data.twenty_24.teams-pc %}
    <div class="team-member">
      <!-- <img class="team-photo" src="/css/2024_style/img/team/{{ team.img }}"> -->
      <h3>{{ team.name }}</h3>
      <span>{{ team.institution }}</span>
       <!-- <a class="email" href="mailto:{{ team.email }}"><span >E-Mail</span></a> -->
    </div> 
    {% endfor %}
  </section>